version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: cookbook
      POSTGRES_USER: cook
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
